<form [formGroup]="postForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="body">Corpo:</label>
      <textarea formControlName="body" class="form-control" rows="4"></textarea>
    </div>
    <div class="form-group">
      <label for="title">Título:</label>
      <input formControlName="title" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="publicationDate">Data de Publicação:</label>
      <input formControlName="publicationDate" type="date" class="form-control" />
    </div>
    <div class="form-group">
      <label for="author">Autor:</label>
      <input formControlName="author" type="text" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  